
*{
	margin: 0; padding: 0;

}

@font-face {
    font-family: 'shrift'; src:url('../10146.otf');
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-image: url(../img/fon3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  
}

.page-wrapper{
    display:block;
    top:-50px;
    left: 20px;
    max-width:700px;
    position:relative;
    background-image:url(../img/fon1.png);
    background-position:center;
    background-size: 150%;
    height: auto;
    margin:0 auto;
    padding:25px;
    min-height:600px;
	/*box-shadow:3px 3px 7px black;
	border-left:1px solid #333;
	border-right:1px solid #333;*/
	
}
#priv{/*Приветствие*/
    display: block;
    font-family: shrift;
    font-size: 10px;
    position: relative;
    top:-125px;
    left:40px;

}
.qest{ /*вывод ответа*/
    display: block;
	width:30%;
	position:relative;
	left:350px;
	top:80px;
	height: auto;
	margin:0 auto;
	padding:25px;
	z-index:1;

}

#but1{/*Кнопка ответа*/
	z-index:4;
	position: fixed;
	width: auto;
	height: auto;
	top:70%;
	left:70%;
	background-color: greenyellow;
}
i{/*Что делать если*/
    display: block;
    font-family: shrift;
    font-size: 10px;
	z-index:4;
	position: fixed;
	width: 20%;
	height: 20%;
	top:60%;
	left:65%;


}
.vopros{/*Квадрат с вопросом*/
    display: none;
    opacity: 0.9;
	z-index:4;
	position: fixed;
	width: 100%;
	height: 100%;
	top:50%;
	left:60%;
	background-size: 30%;
	background-image: url(../img/qest7.png);
	background-repeat: no-repeat;


}

.imgQest{/*Облачко с вопросом*/
    display: none;
	max-width:400px;
	position:relative;
    top:-60px;
	left:300px;
	height: auto;
	margin:0 auto;
	padding:25px;
	min-height:300px;

}
.imgQest>img{
	max-width:100%;
	height:auto;
}
/*.lesson{
	display:inline-block;
	top:100px;
	left:900px;
	width:38%;
	height:250px;
	
	
}*/
#ship{/*Фон корабля*/
	/*opacity: 0.3;*/
	z-index:2;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-image: url(../img/vid.png);
	background-repeat: no-repeat;
	background-size: cover;

}


/*.qestion{
	position:relative;
	left:650px;
	top:-600px;
	width:50%;
}*
.qestion >input{
	position:relative;
	width:50%;
	height:30px;
	color:red;
	box-shadow:3px 3px 7px black;
	border-radius:100px;
}*/

/*.button>button:hover{
    left:10px;
    background-color:#01FF01;
    background: -moz-radial-gradient(circle closest-side,#000,#01FF01,#01FF01);
    background: -ms-radial-gradient(circle closest-side,#000,#01FF01,#01FF01);
    background: -o-radial-gradient(circle closest-side,#000,#01FF01,#01FF01);
    background: -webkit-radial-gradient(circle closest-side,#01FF01,#FFF,#01FF01);



}
.button>button{
    width:50px;
    height:50px;
    border-radius:100px;
    background-color:#01FF01;
    margin-left:1000px;



}

.button>button:active{
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);

}*/



